.add-project-button {
	position: absolute;
	right: 100px;
	bottom: 100px;
	border-radius: 10px;
}

.project-container {
	display: flex;
	flex-direction: column;
    justify-content: center;
    margin: 0rem 3rem;
}

.projectile {
	height: 100px;
	width: 100%;
	margin: 10px 0px;
	padding: 10px;

	display: flex;
	justify-content: space-between;
}

.export-icon {
	display: flex;
	justify-content: center;
	align-items: center;
}

.link-style {
	text-decoration: none;
	color: inherit;
}

.project {
	width: 200px;
	height: 200px;
}

.project-page-top-elements {
	display: flex;
	text-align: center;
	justify-content: center;
}
