.add-project-button {
	position: absolute;
	right: 100px;
	bottom: 100px;
	border-radius: 10px;
	mix-blend-mode: difference;
}

.project-container {
	display: flex;
	flex-direction: column;
    justify-content: center;
    margin: 0rem 3rem;
}

.projectile {
	height: 100px;
	width: 100%;
	background-color: #11121d;
	color: white;
	text-decoration: none;
	margin: 10px 0px;
}

.project {
	width: 200px;
	height: 200px;
}
