.todo-tile {
	margin: 10px 50px;
	border: 0.5px solid black;
	border-radius: 8px;
}

.todo-description {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin-inline: 10px;
	gap: 10px;
}
