* {
	margin: 0px;
	padding: 0px;
}

.app-container {
	min-height: 100vh;
	text-align: center;
	background-color: #dddde7;
	color: #202023;
}

.add-project-modal {
	margin: 50px;
	background-color: white;
	box-shadow: white;
}

#divider {
	height: 5px;
	width: 100%;
	background-color: black;
}

.nav-link {
	text-decoration: none;
	color: inherit;
}
